.container-fluid{
    font-size: 25px;
    background-color: aliceblue;
    border: aliceblue 30px solid;
}
.label_upload{
    background-color: skyblue;
    border: 1px solid black;
    font-size: 23px;
}
.label_tips{
    margin: auto 20px;
    font-size: 20px;
    color: red;
}
.label_error{
    border: 1px solid black;
    font-size: 10px;
    color: red;
    max-height: 200px;
    overflow-y: scroll;
}
.toolbar_submit{
    background-color:skyblue;
    border: 1px solid black;
    font-size: 23px;
}
#turn_to_screen{
    margin: 0 0 0 500px;
    font-size: 22px;
}